@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


body{
    height: 100vh;
    overflow: hidden;
    background-color: rgba(8, 8, 8, 0);
}

.side{
    height: 70vh;
    width: 20vw;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    top: 50%;
    left: 25%;
    z-index: 0;
    text-align:center;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.sidebar{
    height: 70vh;
    width: 20vw;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    z-index: 0;
    left: 25%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.sidebar::after, .sidebar::before{
    content: " ";
    position: absolute;
    inset: -2px;
    background: conic-gradient(from var(--rotate), black, rgb(0, 255, 170), black);
    border-radius: 10px;
    animation: borderrotate 3s linear infinite;
    z-index: -1;

}

.sidebar::before{
    z-index: -1;
    opacity: 0.5;
    filter: blur(20px);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

@keyframes borderrotate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}



.preview{
    height: 70vh;
    width: 50vw;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    top: 50%;
    border: 1px solid rgb(0, 0, 0);
    left: 61%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
}

.previewborder{
    height: 70vh;
    width: 50vw;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
}

.previewborder::after, .previewborder::before{
    content: " ";
    position: absolute;
    inset: -2px;
    background: conic-gradient(from var(--rotate), rgb(255, 255, 255), rgb(0, 0, 0), rgb(255, 255, 255));
    border-radius: 10px;
    animation: borderrotate 3s linear infinite;
    z-index: -2;

}

.previewborder::before{
    z-index: -1;
    opacity: 0.5;
    filter: blur(20px);
}


.name{
    color: rgb(0, 126, 109);   
    font-family: 'montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    
}




.event {
    margin-top: 7%;
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    text-align: left;
    padding-left: 20%;
    cursor: pointer;
    margin-left: 20%;
    background-color: black;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 1.5em;
    width: 90%;
    border-radius: 5px;
    transition: .5s;
    height: 7%;
}

.event:hover{
    border-left: 1px solid rgb(0, 255, 170);
    border-bottom: 1px solid rgb(0, 255, 170);
}


.preview p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    font-family: 'montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}




