@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Montserrat', sans-serif;

}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(7, 7, 7);
    min-height: 200vh;
    color: white;
    overflow-x: hidden;
}


section{
    height: 100vh;
}

.name{
    color: white;
    font-size: 1em;
    margin-left: 7%;
    margin-top: 2%;
    font-weight: 500;
    transition: .3s;
}

.name:hover{
    color: rgb(0, 255, 255);
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px);
    animation: appear 10s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7%;
}
nav button{
    background: none;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    font-weight: 300;
    margin-left: .4em;
    margin-top: 2%;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}

nav button:hover{
    background-color: rgb(0, 21, 35);
    color: rgb(0, 255, 255);
    box-shadow: 0 0 70px rgb(0, 255, 255);
    
}


@media only screen and (max-width: 650px){
    header{
        flex-direction: column;
        align-items: center;
    }
    nav{
        margin: 0;
    }
}
/* navbar and header ends */


#intro{
    height: 100vh;
    

}

.mainName {
    position: absolute;

    font-size: 6em;
    letter-spacing: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
        text-shadow: 0 0 30px rgb(255, 255, 255);

    opacity: 1;
    z-index: 2;
    margin: 0.5em 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.mainName:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 30px rgb(255, 255, 255);
    letter-spacing: 5px;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0);
    opacity: 1;
    cursor: pointer;

}

.subName {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: rgb(0, 234, 255);
    opacity: 1;
    margin: 0.5em 0;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

#eventsButton{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 234, 255, 0);
    opacity: 1;
    width: 15vw;
    height: 5vh;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}   

#eventsButton:hover {

        color: rgb(0, 255, 21);
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}






/* #codeBlock{
    position: absolute;
    left: 50vw;
background:linear-gradient(rgb(0, 143, 179), rgb(0, 50, 58), rgb(0, 30, 31));
    border-radius: 10px;
    top: 40vh;
    width: 25vw;
    height: 40vh;
    line-height: 30px;
    padding-left: 30px;
    transform: perspective(1000px) rotateY(-10deg) rotateX(10deg);
    transition: .5s;
    z-index: 0;
    box-shadow: 0 0 100px rgba(0, 225, 255, 0.432);
}
#codeBlock:hover{
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
    box-shadow: 0 0 100px rgba(0, 225, 255, 0)
}
.fg{

    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    top: 5vh;
    left: 1.5vw;
    padding-left: 20px;
    width: 22vw;
    height: 30vh;
    z-index: 0;
    transform: rotate(2deg);
    filter:brightness(40%);
    transition: .4s;
}
.fg:hover{
    transform: rotate(0deg);
    filter:brightness(150%);
}

.fg #code{
    font-size: 1em;
    color: rgba(0, 234, 255, 0.465);
    opacity: 1;
    margin: 0.5em 0;
    position: absolute;
    top: -30px;
    transition: .3s;
    background: none;
    filter: blur(0px);
    border: none;
    cursor: pointer;
}

.fg #code:hover{
filter: blur(0px);
} */
